{% extends "AppShortStories/index.html" %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" id="CardDetail">
    <div class="card border-success mb-3" style="max-width: 50rem;">
        <div class="card-header bg-transparent border-success">Detalles del Genero #{{object.id}}</div>
        <div class="card-body text-success">
            <p class="card-text">Nombre del Genero Selecionado: {{object.first_name}}
            
            </p>
        </div>
        <div class="card-footer bg-transparent border-success"><a href="{% url 'genero-list'%}"
                class="btn btn-outline-danger">Atras</a></div>
    </div>
</div>
{% endblock %}